footer {
  /* margin-top: 10vmax; */
  width: 100%;
  padding: 2vmax;
  background-color: rgba(34, 33, 33, 0.927);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}




.midFooter {
  width: 60%;

  text-align: center;
}

.midFooter > h1 {
  font-size: 4vmax;
  font-family: "Roboto";
  color: #ffcc00;
}
.midFooter > p {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}


